My css changes that is not linked to team's file

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 1.7;
  padding: 0;
  margin: 0;
  background-color: white;
}

h1 {
  margin: 0; padding: 0;
  text-align:center;
}

#lilmessage {
  width: 100%;
  height: 70%;
  padding: 5px;
  background-color: orange; height: 200px;
  margin-top: 3px;
  margin-bottom: 19px;

}


#message-content{ 
 size: 15px;
 color: black;

  
}
.container  {
  overflow: hidden;

  
  }

  #gametitle {
  background: #534D41;
  margin: auto;
  width:100%;
  color: white;
  


 
}
#gamecontents{
  
  width:90%;
  height:600px;
  border:2px solid black;
  border-radius:5px;
  margin:0 auto;
  padding: 5px; 
  

}
#message{

 margin-left: 35px;
 padding: 0;
  
}

#rules{
  text-decoration:underline;
   
  
}

#rules-container{
  /* if you wanna put a bg color */
}

#rules-contents {
  
  text-align: center;
}


#footer{
  text-align:center;
  background: #534D41;
  color: white;
}




/* The animation */
#box {
  background: black;
  height: 8px;
  width: 10;
  animation-name: theanimation;
  animation-duration: 5s;
  /*animation-iteration-count: ;
  animation-timing-function: ease-in; */
  animation-fill-mode:forwards;
  color: white;
  

}
@keyframes theanimation {
    from {
    margin-right: 0%;
    width: 0%; 
  }
 
  to {
    margin-right : 100%;
    width: 100%;
    
  }
 
  0% {background-color:#DB2B39; }
  25%  {background-color:#29335C; }
  50%  {background-color:#F3A712; }
  75%  {background-color:#F0CEA0; }
  100% {background-color:#534D41; }
  
}

.smol {
  width: 10px;
  height: 10px;
  background-color:aqua;
  position:relative;
  animation-name: smolb;
  animation-duration:5s;
  animation-iteration-count:infinite;

}

@keyframes smolb {
  0% {background-color:aqua; left:280px; top:10px;}
  25% {background-color:aqua; left:70px; top:10px;}
  50% {background-color:aqua; left:70px; top:50px;}
  75% {background-color:aqua; left:280px; top:50px;}
  100% {background-color:aqua; left:280px; top:10px;}
}

.smols{
  width: 10px;
  height: 10px;
  background-color:orange;
  position:relative;
  animation-name: smolbo;
  animation-duration:5s;
  animation-iteration-count:infinite;
}

